/*
 *
 * Main stylesheet for Powerange.
 * http://abpetkov.github.io/powerange/
 *
 */

.range-bar {
  background-color: #a9acb1;
  border-radius: 15px;
  display: block;
  height: 4px;
  position: relative;
  width: 100%;
}

.range-handle {
  background-color: #fff;
  border-radius: 100%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
  height: 30px;
  top: -13px;
  position: absolute;
  width: 30px;
}