/*
 *
 * Main stylesheet for Powerange.
 * http://abpetkov.github.io/powerange/
 *
 */

.range-bar {
  background-color: #a9acb1;
  border-radius: 15px;
  display: block;
  height: 4px;
  position: relative;
  width: 100%;
}

.range-quantity {
  background-color: #017afd;
  border-radius: 15px;
  display: block;
  height: 100%;
  width: 0;
}

.range-handle {
  background-color: #fff;
  border-radius: 100%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
  cursor: move;
  height: 30px;
  left: 0;
  top: -13px;
  position: absolute;
  width: 30px;
}

.range-min,
.range-max {
  font-size: 12px;
  position: absolute;
  text-align: center;
  top: -4px;
  width: 25px;
}

.range-min {
  left: -30px;
}

.range-max {
  right: -30px;
}

.vertical {
  width: 4px;
  height: 100%;
}

.vertical .range-quantity {
  bottom: 0;
  height: 0;
  position: absolute;
  width: 100%;
}

.vertical .range-handle {
  bottom: 0;
  left: -13px;
  top: auto;
}

.vertical .range-min,
.vertical .range-max {
  height: 15px;
  left: -11px;
  right: auto;
  top: auto;
}

.vertical .range-min {
  bottom: -30px;
}

.vertical .range-max {
  top: -30px;
}