/**
 *
 * This stylesheet serves only for the purpose of this demo.
 *
 **/

/**
 *
 * Defaults.
 *
 */

* {
  margin: 0;
  padding: 0;
}

::selection {
  background: #95b7d4;
  color: #fff;
}

::-moz-selection {
  background: #95b7d4;
  color: #fff;
}

.clearfix:before, .clearfix:after { content: ''; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }

body {
  background: fixed url('../images/background.jpg') 0 0 no-repeat;
  background-color: #c4d6e7\9;
  color: #5c5c5c;
  font-family: 'News Cycle', Arial, Helvetica, sans-serif;
  font-size: 15px;
  line-height: 19px;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}

h2 {
  color: #3788ca;
  font-family: 'Maven Pro', Arial, Helvetica, sans-serif;
  font-size: 2em;
  line-height: 1.2em;
  margin-bottom: 20px;
}

h3 {
  font-family: 'Maven Pro', Arial, Helvetica, sans-serif;
  font-size: 1.4em;
  line-height: 1.3em;
  margin-bottom: 10px;
}

a {
  color: #4985b9;
  text-decoration: none;
}

a:hover {
  color: #58A1E0;

  -webkit-transition: color 0.25s ease;
  -moz-transition: color 0.25s ease;
  -o-transition: color 0.25s ease;
  -ms-transition: color 0.25s ease;
  transition: color 0.25s ease;
}

.note {
  font-size: 0.85em;
  font-style: italic;
  line-height: 1em;
}



/**
 *
 * General layout.
 *
 */

.box {
  background-color: #fff;
  margin-bottom: 30px;
  min-height: 75px;

  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.container {
  margin: 0 auto;
  width: 960px;
}

.content > .box {
  padding: 20px;
}

/**
 *
 * Header.
 *
 */

.header {
  margin-top: 20px;
  height: 75px;
}

.header > img {
  float: left;
  margin: 19px 0 0 20px;
}

.slogan {
  color: #3788ca;
  font-family: 'Maven Pro', Arial, Helvetica, sans-serif;
  font-size: 1.2em;
  float: right;
  margin: 28px 20px 0 0;
}

/**
 *
 * Content.
 *
 */

.slider-wrapper {
  margin: 50px 0 30px 30px;
  position: relative;
  width: 250px;
}

.vertical-wrapper {
  height: 200px;
  width: auto;
}

.content strong {
  color: #000;
}

.content .box p {
  margin-bottom: 10px;
}

.content .box p:last-child {
  margin-bottom: 0;
}

.author {
  margin-bottom: 30px;
}

.author > span {
  float: left;
  height: 28px;
  padding-top: 7px;
  text-shadow: 0 1px 0 #fff;
  width: 120px;
}

.author > a {
  color: #fff;
  float: left;
  margin: 0 0 0 30px;
  min-height: 28px;
  padding: 7px 0 0 150px;
  width: 100px;

  -webkit-transition: background-color 0.15s ease-in;
  -moz-transition: background-color 0.15s ease-in;
  -o-transition: background-color 0.15s ease-in;
  -ms-transition: background-color 0.15s ease-in;
  transition: background-color 0.15s ease-in;
}

.author .twitter {
  background: #47a0e3 url('../images/icon_twitter.png') 10% 10% no-repeat;
}

.author .twitter:hover {
  background-color: #55acee;
}

.author .github {
  background: #333 url('../images/icon_github.png') 10% 30% no-repeat;
}

.author .github:hover {
  background-color: #404040;
}

.author .dribbble {
  background: #ea4c89 url('../images/icon_dribbble.png') 10% 40% no-repeat;
}

.author .dribbble:hover {
  background-color: #f65a96;
}

.section-list {
  margin-left: 8px;
}

.section-list li {
  list-style: none;
  margin-bottom: 12px;
}

.section-list li div {
  background-color: #3788ca;
  color: #fff;
  font-family: 'Maven Pro', Arial, Helvetica, sans-serif;
  display: inline-block;
  margin-right: 5px;
  padding: 1px 8px 4px;

  -webkit-transform: skewX(-15deg);
  -ms-transform: skewX(-15deg);
  transform: skewX(-15deg);
}

.section-list li p {
  display: inline-block;
}

.section-list li span {
  font-style: italic;
}

.section-list li:last-child {
  margin-bottom: 0;
}

.example {
  border-bottom: 1px solid #deecf5;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.example:last-child {
  border: 0;
  margin: 0;
  padding: 0;
}

.example:last-child .slider-wrapper {
  margin-bottom: 15px;
}

.display-box-label {
  font-size: 0.8em;
  right: -80px;
  position: absolute;
  top: -8px;
}

.display-box {
  background-color: #f7fcff;
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.15);
  font-size: 0.8em;
  height: 23px;
  right: -140px;
  padding-top: 2px;
  position: absolute;
  text-align: center;
  top: -10px;
  width: 50px;
}

.small-button {
  background-color: #3788ca;
  border: 0;
  color: #fff;
  cursor: pointer;
  height: 25px;
  width: 90px;
}

.small-button:focus {
  outline: 0;
}

.slider-wrapper .small-button {
  right: -140px;
  position: absolute;
  top: -10px;
}

.powerranger {
  background: url('../images/power_ranger_gold.png') 0 0 no-repeat;
  height: 50px;
  right: -100px;
  opacity: 0;
  position: absolute;
  top: -25px;
  width: 41px;
}

/**
 *
 * Footer.
 *
 */

.footer {
  height: 75px;
  margin: 0 auto 100px;
}

.footer .left {
  float: left;
  padding: 15px 0 0 20px;
  width: 330px;
}

.footer .left ul {
  color: #4985b9;
  font-family: 'Maven Pro', Arial, Helvetica, sans-serif;
  list-style: none;
}

.footer .left ul li {
  display: inline;
  margin: 0 10px 0 10px;
}

.footer .left ul li:first-child {
  margin-left: 0;
}

.footer .right {
  float: right;
  padding: 15px 20px 0 0;
  text-align: right;
  width: 580px;
}

.footer .right a {
  background-image: url('../images/icons_social.png');
  background-repeat: no-repeat;
  display: inline-block;
  height: 20px;
  margin-left: 15px;
  padding-left: 30px;
}

.footer .twitter {
  background-position: 0 0;
}

.footer .github {
  background-position: 0 -20px;
}

.footer .dribbble {
  background-position: 0 -40px;
}

.copyright {
  margin-top: 10px;
}

/**
 *
 * Code snippets.
 *
 */

pre {
  background-color: #141414;
  font-family: 'Source Code Pro', Arial, Helvetica, sans-serif;
  font-size: 0.84em;
  margin: 20px 0 20px 3px;
  overflow: auto;
  padding: 10px;
  white-space: nowrap;
  word-wrap: break-word;
}

.script {
  color: #fff;
}

.quote,
.comment {
  color: #5e5a60;
}

.name {
  color: #9b6e31;
}

.specials {
  color: #f9f094;
}

.tag,
.attribute,
.sign {
  color: #e0c686;
}

.value {
  color: #8e9e65;
}

.boolean {
  color: #c96b4b;
}

.single {
  color: #96849e;
}

/**
 *
 * Custom slider.
 *
 */

.range-min,
.range-max {
  padding-top: 1px !important;
}

.range-bar.power-ranger {
  background-color: #6b6b6b;
}

.power-ranger .range-quantity {
  background-color: #e52027;
}

.power-ranger .range-handle {
  background: url('../images/power_ranger.png') 0 0 no-repeat;
  border-radius: 0;
  width: 25px;

  -webkitbox-shadow: 0 0 0;
  box-shadow: 0 0 0;
}

.power-ranger .range-min {
  background: url('../images/heart_broken.png') 0 0 no-repeat;
}

.power-ranger .range-max {
  background: url('../images/heart.png') 0 0 no-repeat;
}