/**
 *
 * This stylesheet serves only for the purpose of this demo.
 *
 **/

/**
 *
 * Defaults.
 *
 */

* {
  margin: 0;
  padding: 0;
}

::selection {
  background: #95b7d4;
  color: #fff;
}

::-moz-selection {
  background: #95b7d4;
  color: #fff;
}

.clearfix:before, .clearfix:after { content: ''; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }

body {
  background: fixed url('../images/background.jpg') 0 0 no-repeat;
  background-color: #c4d6e7\9;
  color: #5c5c5c;
  font-family: 'News Cycle', Arial, Helvetica, sans-serif;
  font-size: 15px;
  line-height: 19px;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}

h2 {
  color: #3788ca;
  font-family: 'Maven Pro';
  font-size: 2em;
  line-height: 1.2em;
  margin-bottom: 10px;
}

a {
  color: #4985b9;
  text-decoration: none;
}

a:hover {
  color: #58A1E0;

  -webkit-transition: color 0.25s ease;
  -moz-transition: color 0.25s ease;
  -o-transition: color 0.25s ease;
  -ms-transition: color 0.25s ease;
  transition: color 0.25s ease;
}

/**
 *
 * General layout.
 *
 */

.box {
  background-color: #fff;
  margin-bottom: 30px;
  min-height: 75px;

  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.container {
  margin: 0 auto;
  width: 960px;
}

.content > .box {
  padding: 20px;
}

/**
 *
 * Header.
 *
 */

.header {
  margin-top: 20px;
  height: 75px;
}

.header > img {
  float: left;
  margin: 19px 0 0 20px;
}

.slogan {
  color: #3788ca;
  font-family: 'Maven Pro', Arial, Helvetica, sans-serif;
  font-size: 1.2em;
  float: right;
  margin: 28px 20px 0 0;
}

/**
 *
 * Content.
 *
 */

.content .box p {
  margin-bottom: 10px;
}

.author {
  margin-bottom: 30px;
}

.author > span {
  float: left;
  height: 28px;
  padding-top: 7px;
  text-shadow: 0 1px 0 #fff;
  width: 120px;
}

.author > a {
  color: #fff;
  float: left;
  margin: 0 0 0 30px;
  min-height: 28px;
  padding: 7px 0 0 150px;
  width: 100px;

  -webkit-transition: background-color 0.15s ease-in;
  -moz-transition: background-color 0.15s ease-in;
  -o-transition: background-color 0.15s ease-in;
  -ms-transition: background-color 0.15s ease-in;
  transition: background-color 0.15s ease-in;
}

.twitter {
  background: #47a0e3 url('../images/icon_twitter.png') 10% 10% no-repeat;
}

.twitter:hover {
  background-color: #55acee;
}

.github {
  background: #333 url('../images/icon_github.png') 10% 30% no-repeat;
}

.github:hover {
  background-color: #404040;
}

.dribbble {
  background: #ea4c89 url('../images/icon_dribbble.png') 10% 40% no-repeat;
}

.dribbble:hover {
  background-color: #f65a96;
}